
.nameHeader{
  text-align: center;
}

.searchForm{
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 60px;
  justify-content: center;
  align-items: center;
  background-color: slategray;
  padding: 3rem;
  margin: 2rem;
}

.displaySearch{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: fit-content;
  justify-content: center;
  align-items: center;
  background-color: rgb(166, 192, 218);
  padding: 5rem;
  margin: auto;
  margin-top: 30px;
}
.saved{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: fit-content;
  justify-content: center;
  align-items: center;
  background-color: rgb(166, 192, 218);
  padding: 5rem;
  margin: auto;
  margin-top: 30px;
}